/*------------------------------------------------------------*/

/*ini imports*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*fin imports*/

/*------------------------------------------------------------*/

/*ini header*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', sans-serif, cursive;
}

.header{
    width: 100%;
    height: 75px;
    background: black;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px
    orangered;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.logo{
    float: left;
    line-height: 60px;
}

#logo{
    color: orangered;
    max-width: 400;
    font-size: 24px;
    cursor: default;
    padding-top: 18px;
    font-size: 30px;
}

.txtlogo {
    color: orangered;
    max-width: 400;
    font-size: 24px;
    cursor: default;
    padding-top: 25px;
}

.menu{
    float: right;
    line-height: 75px;
}

.menu a{
    color: orangered;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    line-height: normal;
    font-size: 21px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

.menu a:hover {
    color: gold;
    border-bottom: 4px solid gold;
}

/*fin header*/

/*------------------------------------------------------------*/

/*ini body home*/
/*ini portada*/
.front{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', sans-serif, cursive;
}
.wrp{
    width: 100%; height: 89vh;
    position: relative;
}
.portada{
    margin-top: 50px;
    padding-top: 50px;
    width: 100%; height: 100%;
    background: url("img/img_2.jpg");
    background-attachment: fixed;
}
.contenido{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contenido .info{
    width: 100%;
    max-width: 750px;
    text-align: center;
}
.contenido .info h1{
    color: #fff;
    font-size: 50px;
    text-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    margin-bottom: 25px;
    letter-spacing: 1px;
}
.contenido .info a{
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    padding: 10px 25px;
    color: #fff;
    background: orangered;
    border-radius: 50px;
    margin-bottom: 40px;
    border: 2px solid transparent;
    transition: all 300ms ease;
    letter-spacing: 0.5px; /*Para separar un poco las letras*/
}
.contenido .info a:hover{
    background: transparent; /*Fondo transparente*/
    border: 2px solid #fff;
}
.curveado{
    position: absolute;
    width: 100%;
    bottom: -3px;
}
.curveado img{
    width: 100%;
    height: 100%;
}
@media(max-width:768px){
    .contenido .info h1{
        font-size: 35px;
    }    
}

/*fin portada*/

/*------------------------------------------------------------*/

/*ini destacados*/
.destacados{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', sans-serif, cursive;
}
body{
    background: black;
}
.container_dest{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}
.box_dest{
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    border:3px solid orangered;
}
.box_dest img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color:goldenrod;
    transform: scale(0);
    transition: .3s ease;
}
.box_dest:hover .capa{
    transform: scale(1);
}
@media only screen and (max-width:900px){
    .container{
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    }
}
#titulo-dest{
    color: orangered;
    text-align: center;
    font-family: 'Lobster', sans-serif, cursive;
}

/*fin body home*/


/*------------------------------------------------------------*/
/*ini footer*/

/*ini pie pagina*/


.pie-pagina{
    width: 100%;
    background-color: black;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
    border-radius: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: orangered;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: orangered;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: orangered;
    margin-right: 10px;
    background-color: black;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: goldenrod;
}
.pie-pagina .grupo-2{
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: orangered;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/*fin pie pagina*/

/*fin footer*/

/*------------------------------------------------------------*/
/*Nosotros*/

.nos{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.izquierda{
    background: black;
    height: 100vh;
    width: 50%;
    text-align: center;
    color: orangered;
}

.derecha{
    background-size: cover;
    height: 100vh;
    width: 50%;
    text-align: center;
}

#pantalla-dividida{
    display: flex;
}

#nos{
    font-size: 60px;
    width: 50%;
    margin-bottom: 40px;
}
#nosotros{
    font-size: 23px;
    line-height: 30px;
    width: 50%;
    margin: auto;
    margin-top: 45px;
}

#nosbtn{
    border: 3px solid orangered;
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin-top: 30px;
    
}

.link{
    text-align: center;
}

.img{
    top: 0; left: 0;
    display: flex;
    justify-content: center;
    padding:13px;
    background-size: 100%;
    background-repeat:no-repeat;
    background:url(../img/RegistrAPP.png);
    background-size: flex;
    background-size: cover;
    height: 115vh;
    width: 50%;
    text-align: center;
    }
