/*ini  video juego tic-tac toe*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*------------------------------------------------------------*/
.header{
    width: 100%;
    height: 75px;
    background: black;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px
    orangered;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.logo{
    float: left;
    line-height: 25px;
}

.txtlogo {
    color: orangered;
    max-width: 400;
    font-size: 24px;
    cursor: default;
    padding-top: 25px;
}

.menu{
    float: right;
    line-height: 75px;
}

.menu a{
    color: orangered;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    line-height: normal;
    font-size: 14px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

.menu a:hover {
    color: gold;
    border-bottom: 4px solid gold;
}

/*--------------------------------------------------------------------------------------------*/

.curveado img{
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', sans-serif, cursive;
}
.bodymemory {
    background-color: #f4c531;
}
.wrapper {
    box-sizing: content-box;
    width: 26.87em;
    padding: 2.5em 3em;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}
.game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
}
.stats-container {
    text-align: right;
    margin-bottom: 1.2em;
}
.stats-container span {
    font-weight: 500;
}
.card-container {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
}
.card-before,
.card-after {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000000;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
}
.card-before {
    background-color: #f4c531;
    font-size: 2.8em;
    font-weight: 600;
}
.card-after {
    background-color: #ffffff;
    transform: rotateY(180deg);
}
.card-container.flipped .card-before {
    transform: rotateY(180deg);
}
.card-container.flipped .card-after {
    transform: rotateY(0deg);
}
.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f4c531;
    top: 0;
}
button {
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
}
#stop {
    font-size: 1.1em;
    display: block;
    margin: 1.1em auto 0 auto;
    background-color: #000000;
    color: #ffffff;
}
.controls-container button {
    font-size: 1.3em;
    box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}
.hide {
    display: none;
}
#result {
    text-align: center;
}
#result h2 {
    font-size: 2.5em;
}
#result h4 {
    font-size: 1.8em;
    margin: 0.6em 0 1em 0;
}

/*------------------------------------------------------------*/
/*ini footer*/

/*ini pie pagina*/


.pie-pagina{
    width: 100%;
    background-color: black;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
    border-radius: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: orangered;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: orangered;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: orangered;
    margin-right: 10px;
    background-color: black;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: goldenrod;
}
.pie-pagina .grupo-2{
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: orangered;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/*fin pie pagina*/

/*fin footer*/