/*------------------------------------------------------------*/

/*ini imports*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*fin imports*/

/*------------------------------------------------------------*/

/*ini header*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', sans-serif, cursive;
}

.header{
    width: 100%;
    height: 75px;
    background: black;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px
    orangered;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.logo{
    float: left;
    line-height: 60px;
}

#logo{
    color: orangered;
    max-width: 400;
    font-size: 24px;
    cursor: default;
    padding-top: 18px;
    font-size: 30px;
}

.txtlogo {
    color: orangered;
    max-width: 400;
    font-size: 24px;
    cursor: default;
    padding-top: 25px;
}

.menu{
    float: right;
    line-height: 75px;
}

.menu a{
    color: orangered;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    line-height: normal;
    font-size: 21px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

.menu a:hover {
    color: gold;
    border-bottom: 4px solid gold;
}

/*fin header*/

/*------------------------------------------------------------*/

/*inicio vista mi cuenta*/

.franjasesion{
    font-family: 'Lobster', sans-serif, cursive;
    background-color:black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-login {
    width: 400px;
    height: 340px;
    background:orangered;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px goldenrod;
    padding: 20px 30px;
    border-top: 4px solid goldenrod;
    color: white;
}

.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls {
    width: 100%;
    border: 1px solid lightgreen;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: white;
    font-size: 14px;
    font-weight: bold;
}

.buttons {
    width: 100%;
    height: 40px;
    background: black;
    border: none;
    color: white;
    margin-bottom: 16px;
    border-radius: 30px;
}

.form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login a:hover {
    text-decoration: underline;
}
/*fin vista mi cuenta*/
/*------------------------------------------------------------*/
/*ini footer*/

/*ini pie pagina*/


.pie-pagina{
    width: 100%;
    background-color: black;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
    border-radius: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: orangered;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: orangered;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: orangered;
    margin-right: 10px;
    background-color: black;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: goldenrod;
}
.pie-pagina .grupo-2{
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: orangered;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/*fin pie pagina*/

/*fin footer*/

/*------------------------------------------------------------*/