/*------------------------------------------------------------*/

/*ini imports*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*fin imports*/

@font-face {
    font-family: "game";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");
}

/*ini  video juego tic-tac toe*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*------------------------------------------------------------*/
.header{
    width: 100%;
    height: 75px;
    background: black;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px
    orangered;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.logo{
    float: left;
    line-height: 25px;
}

.txtlogo {
    color: orangered;
    max-width: 400;
    font-size: 24px;
    cursor: default;
    padding-top: 25px;
}

.menu{
    float: right;
    line-height: 75px;
}

.menu a{
    color: orangered;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    line-height: normal;
    font-size: 14px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

.menu a:hover {
    color: gold;
    border-bottom: 4px solid gold;
}

/*--------------------------------------------------------------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.button:focus {
    outline: 0;
}

.bodysnake {
    height: 100%;
    font-family: 'Lobster', sans-serif, cursive;
    color: black;
}
.bodysnake {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orangered;
}
.canvas {
    background-color: #181825;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
#ui {
    display: flex;
    align-items: center;
    font-size: 10px;
    flex-flow: column;
    margin-left: 10px;
}
.txtsnake2 {
    font-weight: 200;
    transform: rotate(270deg);
}
#score {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 800;
}
.noselect {
    user-select: none;
}
#replay {
    font-size: 10px;
    padding: 10px 20px;
    background: orangered;
    border: none;
    color: black;
    border-radius: 20px;
    font-weight: 800;
    transform: rotate(270deg);
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#replay:hover {
    background: #a6aab5;
    background: orangered;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#replay svg {
    margin-right: 8px;
}
@media (max-width: 600px) {
    #replay {
    margin-bottom: 20px;
    }
    #replay,
    .txtsnake2 {
    transform: rotate(0deg);
    }
    #ui {
    flex-flow: row wrap;
    margin-bottom: 20px;
    }
    #score {
    margin-top: 0;
    margin-left: 20px;
    }
    .container {
    flex-flow: column wrap;
    }
}
#author {
    width: 100%;
    bottom: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: inherit;
    text-transform: uppercase;
    padding-left: 35px;
}
#author span {
    font-size: 10px;
    margin-left: 20px;
    color: inherit;
    letter-spacing: 4px;
}
#author h1 {
    font-size: 25px;
}
.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
/*------------------------------------------------------------*/
/*ini footer*/

/*ini pie pagina*/


.pie-pagina{
    width: 100%;
    background-color: black;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
    border-radius: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: orangered;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: orangered;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: orangered;
    margin-right: 10px;
    background-color: black;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: goldenrod;
}
.pie-pagina .grupo-2{
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: orangered;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/*fin pie pagina*/

/*fin footer*/