/*ini  video juego tic-tac toe*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*------------------------------------------------------------*/
.header{
    width: 100%;
    height: 75px;
    background: black;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px
    orangered;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.logo{
    float: left;
    line-height: 25px;
}

.txtlogo {
    color: orangered;
    max-width: 400;
    font-size: 24px;
    cursor: default;
    padding-top: 25px;
}

.menu{
    float: right;
    line-height: 75px;
}

.menu a{
    color: orangered;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    line-height: normal;
    font-size: 14px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

.menu a:hover {
    color: gold;
    border-bottom: 4px solid gold;
}

/*--------------------------------------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', sans-serif, cursive;
}

.bodytic {
    background-color: black;
}

.headertic h1{
    color: orangered;
    
}

.headertic {
display: flex;
align-items: center;
justify-content: center;
margin: 15px;
}

.header h1 {
text-align: center;
}

.box {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin: 35px;
}

.row {
display: flex;
align-items: center;
justify-content: center;
}

.btn {
border: 1px solid orangered;
border-radius: 5px;
height: 75px;
margin: 2px;
width: 75px;
text-align: center;
font-size: 50px;
font-weight: 500;
}

.btn:hover {
cursor: pointer;
background-color: orangered ;
}

.btn:disabled {
color: black;
cursor: no-drop;
}

.result {
text-align: center;
color: orangered;
}

.reset {
text-align: center;
}

#reset {
border: 1px solid gray;
cursor: pointer;
color: black;
background-color: white;
border-radius: 5px;
padding: 5px 20px;
font-size: 17px;
margin: 35px;
transition: all 0.1s ease-in-out;
}

#reset:hover {
color: white;
background-color: orangered;
}

/*------------------------------------------------------------*/
/*ini footer*/

/*ini pie pagina*/


.pie-pagina{
    width: 100%;
    background-color: black;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
    border-radius: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: orangered;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: orangered;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: orangered;
    margin-right: 10px;
    background-color: black;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: goldenrod;
}
.pie-pagina .grupo-2{
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: orangered;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/*fin pie pagina*/

/*fin footer*/